In [17]:
import cx_Oracle
import pandas as pd
ORACLE_CONNECT = "u92277452/carlos#201911@(DESCRIPTION=(SOURCE_ROUTE=OFF)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.25.35.33)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME = P00DW1)))"

orcl = cx_Oracle.connect(ORACLE_CONNECT)
print("Connected to Oracle: " + orcl.version)

#sql = "select * from ops_alteryx.bi_fp_contrato_net where rownum <= 1"
#curs = orcl.cursor()
#curs.execute(sql)

#for row in curs:
 #   print(row)
    
query =  "select * from ops_alteryx.bi_fp_contrato_net where rownum <= 1"   
df_ora = pd.read_sql(query, con=orcl)
#print(df_ora)
df_ora.head()

Connected to Oracle: 11.2.0.4.0

,DAT_MOVIMENTO,COD_OPERADORA,NUM_CONTRATO,NUM_CPF_CNPJ,DAT_NASCIMENTO,DSC_EMAIL,NUM_TELEFONE_RESIDENCIAL,NUM_TELEFONE_COMERCIAL,NUM_TELEFONE_OUTROS,NUM_CELULAR,...,QTD_TP_EQP_DECODER_NET,QTD_TP_EQP_HOMEGAT_NET,QTD_TP_EQP_CONV_CANAIS_NET,QTD_TP_EQP_TRAP_NET,QTD_TP_EQP_CABLE_MODEM_NET,QTD_TP_EQP_TEL_NET,DAT_CRIACAO,DSC_TIPO_COBRANCA,FLG_CM_LEGADO,DSC_TIPO_SEGMENTO
0,2019-08-01,3,255,02569530000180,2001-01-01,seguna@seguna.com.br,1123593069,1123593069,1123593069,11996693622,...,0,0,0,0,0,0,2019-09-17,BOLETO,1,PURPLE PME PF